:root {
  color-scheme: light dark;
  --primary-text: light-dark(#4a4a4a, #c1c1c1);
  --bg-colour: light-dark(#a9e1eb, #1e293b)
}

body {
  /* 
    There should be no un-elemented text
    Use a less glaring colour than red, for outdated renderers like WeChat browser
  */
  color: #7358b8;
  background-color: var(--bg-colour);
}

main {
  margin-top: 6rem;
}

.text-container {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

main.agribot-project {
  background: var(--bg-colour);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: light-dark(#1a1a1a, #d1d1d1);
}

p, main li {
  color: var(--primary-text);
  font-size: 14pt;
}

p {
  text-align: justify;
}

main li {
  margin: 0.5rem 0;
}

main figcaption {
  color: var(--primary-text);
}

.labelled {
  color: light-dark(#36776e, #a9e1eb);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 20;
  background-color: light-dark(#f0f0f0, #303030);
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid light-dark(#d1d1d1, #4a4a4a);
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 1rem;
}

nav input[type="checkbox"], nav label{
  display: none;
}

nav label {
  color: var(--primary-text);
  text-align: right;
  display: block;
  padding: 0.5rem;
  line-height: 1.6rem;
  align-self: center;
  display: none;
}

nav label:hover {
  color: #008cff;
  cursor: pointer;
}

a {
  color: light-dark(#11349d, #6cb0bb);
  text-decoration-line: none;
}

nav a.current-page {
  color: light-dark(#11973a, #43cf6d);
  font-weight: 600;
}

a:hover {
  color: #008cff;
  cursor: pointer;
  text-decoration-line: underline;
}

div.icon-links a {
  vertical-align: middle;
}

div.icon-links a:hover {
  color: var(--primary-text);
  text-decoration-line: none;
}

table.projects tbody tr th {
  position: fixed;
}

th#date-header {
  top: 2rem;
  height: 5rem;
  width: 100%;
  align-content: end;
}

th#project-header {
  top: 2rem;
  height: 5rem;
  align-content: end;
  left: 23.3%
}
th#tooling-header {
  top: 2rem;
  height: 5rem;
  align-content: end;
  left: 50%
}
th#links-header {
  top: 2rem;
  height: 5rem;
  align-content: end;
  left: 76.5%
}

.about-table-section {
  padding: 0 5%;
}

.about-table-section table td {
  padding: 0 0 1rem 1rem;
}

table.about-table {
  display: block;
  overflow-x: auto;
  /* white-space: nowrap; */
}

@media (max-width: 600px) {
  /* Borrowed ideas from https://threkk.medium.com/how-to-make-a-css-only-hamburger-menu-f7ad41e13399 (Accessed: 13-01-2025) for the no-JS hamburger menu */
  input[type="checkbox"]:checked#menu+label[for="menu"] {
    display: none;
  }

  input[type="checkbox"]:checked~ul {
    margin-left: -10%;
  }

  input[type="checkbox"]:not(:checked)~ul {
    display: none;
  }

  input[type="checkbox"]:not(:checked)~div.icon-links a {
    display: none;
  }

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  nav label {
    display: flex;
    text-align: right;
    margin-right: -35%;
  }

  nav ul, nav div.icon-links a {
    display: block;
  }

  nav ul:last-child {
    width: 100%;
    flex-basis: 100%;
  }

  nav ul li {
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
  }

  .text-container {
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .hide-on-mobile {
    display: none;
  }

  th#project-header {
    left: 32%
  }
  th#links-header {
    left: 68.5%
  }

  /* sideways scrollable table technique adapted from: https://stackoverflow.com/questions/5533636/add-a-horizontal-scrollbar-to-an-html-table */

  table.about-table tr {
    display: table-cell;
    vertical-align: top;
  }

  table.about-table tr td {
    text-align: center;
    width: 80%;
    padding: 12px 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

table.projects {
  width: 100%;
  border-collapse: collapse;
}

table.projects tr:hover {
  background-color: light-dark(#83d38b, #4b6252);
}

#table-header:hover {
  background-color: var(--bg-colour);
}

td {
  padding: 0 0 0 10px;
  color: var(--primary-text);
}
td p {
  text-align: left;
}

table.projects tbody tr td {
  vertical-align: center;
}

table.project a {
  color: var(--primary-text);
}

th {
  padding: 10px;
  text-align: left;
  color: var(--primary-text);
  font-size: x-large;
  background-color: light-dark(#a9e1eb, #1e293b);
}
