:root {
  color-scheme: light dark;
  --primary-text: light-dark(#4a4a4a, #c1c1c1);
}

body {
  /* There should be no un-elemented text */
  color: light-dark(#ff0000, #ff0000);
  background-color: light-dark(#a9e1eb, #1e293b);
}

main {
  margin-top: 5rem;
  padding: 0 5%;
}

h1, h2, h3, h4, h5, h6 {
  color: light-dark(#1a1a1a, #d1d1d1);
}

p, main li {
  color: var(--primary-text);
  font-size: 14pt;
  text-align: justify;
}

.labelled {
  color: light-dark(#39847a, #a9e1eb);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 20;
  background-color: light-dark(#f0f0f0, #303030);
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid light-dark(#d1d1d1, #4a4a4a);
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 1rem;
}

nav input[type="checkbox"], nav label{
  display: none;
}

nav label {
  color: var(--primary-text);
  text-align: right;
  display: block;
  padding: 0.5rem;
  line-height: 1.6rem;
  align-self: center;
  display: none;
}

nav label:hover {
  color: #008cff;
  cursor: pointer;
}

a {
  color: light-dark(#225782, #c0b5cf);
  text-decoration-line: none;
}

nav a.current-page {
  color: light-dark(#218f42, #43cf6d);
  font-weight: 600;
}

a:hover {
  color: #008cff;
  cursor: pointer;
  text-decoration-line: underline;
}

nav div.icon-links a:hover {
  color: var(--primary-text);
  text-decoration-line: none;
}

@media (max-width: 600px) {
  input[type="checkbox"]:checked#menu+label[for="menu"] {
    display: none;
  }

  input[type="checkbox"]:checked~ul {
    margin-left: -10%;
  }

  input[type="checkbox"]:not(:checked)~ul {
    display: none;
  }

  input[type="checkbox"]:not(:checked)~div.icon-links a {
    display: none;
  }

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  nav label {
    display: flex;
    text-align: right;
    margin-right: -35%;
  }

  nav ul, nav div.icon-links a {
    display: block;
  }

  nav ul:last-child {
    width: 100%;
    flex-basis: 100%;
  }

  nav ul li {
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
  }
}

table.projects {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0 10px;
}

table.projects tbody tr td {
  vertical-align: top;
}

div.icon-links a {
  vertical-align: middle;
}