@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  a.link {
    @apply font-medium text-blue-600 dark:text-blue-500 hover:underline;
  }
}

.container {
  padding: 0 5%;
  padding-top: 6rem;
}
@media (max-width: 768px) {
  .md\:container {
    padding-top: 4rem;
  }
}